/*
 * Util component
 */

@mixin transform($value) { 
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  -webkit-transform: $value;
  transform: $value;
}

@mixin center {
  left: 50%;
  position: absolute;
  top: 50%;
  @include transform(translate(-50%, -50%));
}

@mixin from($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin until($breakpoint) {
  @media screen and (max-width: calc($breakpoint - 1px)) {
    @content;
  }
}
